{% extends 'base.html' %}
{% load my_tags my_filters %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if user|has_group:"Контент-менеджер" %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <i class="bi bi-plus-circle" style="font-size: 3rem; color: #28a745;"></i>
                        <h4 class="card-title mt-3">Предложить новый блог</h4>
                        <p class="card-text">Поделитесь своими идеями и создайте контент для сообщества.</p>
                        <div class="mt-auto">
                            <a class="btn btn-success btn-lg" href="{% url 'myblogs:create_blog' %}">Предложить</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% for blog in object_list %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="text-center">
                        <img class="img-fluid m-3" src="{{ blog.image | media_filter }}" style="max-height: 200px; object-fit: cover;">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <p class="card-text text-body-secondary flex-grow-1">{{ blog.content|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <a class="btn btn-sm btn-outline-info" href="{% url 'myblogs:blog_detail' blog.pk %}">Подробнее</a>
                            <ul class="list-unstyled mb-0" style="font-size: 0.7rem;">
                                <li>Опубликовано: {{ blog.created_at|date:"d M Y" }}</li>
                                <li>Просмотров: {{ blog.views_count }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
